[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyter = "*"
django-debug-toolbar = "*"
django-extensions = "*"

[packages]
django = "*"
selenium = "*"
pillow = "*"
psycopg2-binary = "*"
boto3 = "*"
requests = "*"
redis = "*"
djangorestframework = "*"
celery = "*"
djoser = "*"

[requires]
python_version = "3.7"
